<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currículo</title>
    <link rel="stylesheet" href="css/tailwind/input.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/tailwind/output.css" />
    </script>
</head>

<body class="pt-20 dark bg-[#212529] text-gray-300">
    <header>
        <%- include('./partials/header.ejs'); %>
    </header>

    <main class="max-w-7xl mx-auto mb-24 px-4">
        <article class="container mx-auto">
            <header class="flex justify-between items-center gap-8 mb-8">
                <h1 class="text-3xl font-bold text-gray-100">
                    <%= data.nome %>
                </h1>
                <img src="/images/pedro.jpg" class="rounded-lg w-32 h-32 object-cover" alt="<%= data.nome %>">
            </header>

            <section aria-label="Perfil Pessoal">
                <h2 class="text-2xl font-semibold text-blue-400 border-t border-gray-600 pb-1">PERFIL PESSOAL</h2>
                <p class="mt-4">Olá, meu nome é <%= data.nome %> e estou à procura da minha primeira experiência no
                        mercado de
                        trabalho.
                        Tenho grande interesse em adquirir conhecimentos práticos e contribuir de forma positiva para o
                        seu
                        estabelecimento.</p>
                <p class="mt-2">Sou uma pessoa proativa, adaptável e focada em resultados. Tenho disponibilidade de
                    horário e
                    capacidade de me concentrar nas tarefas, sempre buscando a excelência. Acredito que essas
                    características me
                    permitirão agregar valor à equipe e desempenhar com eficiência as funções que me forem atribuídas.
                </p>
                <p class="mt-2">Estou entusiasmado com a oportunidade de aprender e crescer profissionalmente no seu
                    ambiente de
                    trabalho.</p>
            </section>

            <div class="flex gap-8 mt-8">
                <section class="w-full md:w-1/2" aria-label="Informações de Contato">
                    <div class="mt-4 bg-gray-800 p-4 rounded-lg shadow-lg">
                        <h2 class="text-2xl text-center font-semibold text-blue-400 pb-1">CONTATO</h2>
                        <address>
                            <dl>
                                <div class="flex items-center space-x-4">
                                    <dt class="sr-only">Email:</dt>
                                    <dd class="flex items-center">
                                        <i class="fas fa-envelope text-blue-400 text-xl" aria-hidden="true"></i>
                                        <span class="ml-2">
                                            <%= data.email %>
                                        </span>
                                    </dd>
                                </div>
                                <div class="flex items-center space-x-4 mt-4">
                                    <dt class="sr-only">Telefone:</dt>
                                    <dd class="flex items-center">
                                        <i class="fas fa-phone text-blue-400 text-xl" aria-hidden="true"></i>
                                        <span class="ml-2">
                                            <%= resume.telefone %>
                                        </span>
                                    </dd>
                                </div>
                                <div class="flex items-center space-x-4 mt-4">
                                    <dt class="sr-only">Endereço:</dt>
                                    <dd class="flex items-center">
                                        <i class="fas fa-map-marker-alt text-blue-400 text-xl" aria-hidden="true"></i>
                                        <span class="ml-2">
                                            <%= resume.endereco %>
                                        </span>
                                    </dd>
                                </div>
                            </dl>
                        </address>
                    </div>
                </section>

                <section class="w-full md:w-1/2" aria-label="Formação Acadêmica">
                    <h2 class="text-2xl font-semibold text-blue-400 border-t border-gray-600 pb-1">FORMAÇÃO ACADÊMICA
                    </h2>
                    <div class="grid grid-cols-3 mt-4">
                        <article>
                            <h3 class="font-bold">SESI</h3>
                            <div>Sesi São José dos
                                <span class="flex gap-1">Campos </span>
                                <span class="flex gap-1">Jan. 2021 - Dez.</span> 2023</span>
                            </div>
                        </article>
                        <article>
                            <h3 class="font-bold">SENAI</h3>
                            <div>Rede de
                                <span class="flex gap-1">Computadores</span>
                                Jan. de 2022 - <span class="flex gap-1">Incompleto</span>
                            </div>
                        </article>
                        <article>
                            <h3 class="font-bold">FATEC</h3>
                            <div>Desenvolvimento
                                <span class="flex gap-1">de Software</span>
                                <span class="flex gap-1">Multiplataforma</span>
                                <span class="flex gap-1">Aug. de 2024 -</span>
                                <span class="flex gap-1">202X</span>
                            </div>
                        </article>
                    </div>
                </section>
            </div>

            <section class="mt-8">
                <div class="flex gap-8">
                    <div class="w-full md:w-1/2">
                        <h2 class="text-2xl font-semibold text-blue-400 border border-gray-600 rounded-lg p-2">
                            HABILIDADES (Soft
                            Skills)</h2>
                        <ul class="list-disc list-inside mt-4 space-y-2">
                            <li>Pensamento Crítico</li>
                            <li>Resoluções de Problemas</li>
                            <li>Gestão de Tempo</li>
                            <li>Capacidade de Escuta</li>
                            <li>Colaboração</li>
                            <li>Adaptável</li>
                        </ul>
                    </div>

                    <div class="w-full content-center md:w-1/2">
                        <h2 class="text-2xl font-semibold text-blue-400 pb-1">EXPERIENCIA
                            PROFISSIONAL</h2>
                        <p class="mt-4">Em busca do primeiro emprego</p>
                    </div>
                </div>
            </section>

            <section class="mt-8">
                <div class="flex gap-8">
                    <div class="w-full md:w-1/2">
                        <h2 class="text-2xl font-semibold text-blue-400 border border-gray-600 rounded-lg p-2">
                            HABILIDADES (Hard Skills)</h2>
                        <ul class="list-disc list-inside mt-4 space-y-2">
                            <li>Linguagens: <%= skills.lang %>
                            </li>
                            <li class="list-none ml-6">
                                <%= skills.lang2 %>
                            </li>
                            <li>Frameworks: <%= skills.fworks %>
                            </li>
                            <li>Ferramentas: <%= skills.tools %>
                            </li>
                        </ul>
                    </div>

                    <div class="w-full md:w-1/2">
                        <div class="w-full md:w-1/2">
                            <h2 class="text-2xl font-semibold text-blue-400 pb-1">CERTIFICAÇÕES
                            </h2>
                            <p class="mt-4">
                                <%= resume.cert %>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </main>

    <footer class="text-center pb-8">
        <div class="mt-4">
            <a href="/documents/curriculo-pedro.pdf" download
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded inline-flex items-center gap-2">
                <i class="fas fa-download"></i>
                <span>BAIXAR PDF</span>
            </a>
        </div>
        <br>
        <%- include('./partials/footer.ejs'); %>
    </footer>
</body>

</html>